@model List<Employee>

<div class="container-fluid p-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full name</th>
                <th scope="col">Profession</th>
                <th scope="col">Image</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr class="align-middle">
                    <th scope="row">@employee.Id</th>
                    <td>@employee.Name @employee.Surname</td>
                    <td>@employee.Profession</td>
                    <td>
                        <img style="width:50px;height:50px;border-radius:50%;object-fit:cover;pointer-events:@(employee.Image == "defaultPfp.png" ? "none" : "all")" src="~/admin/images/employees/@employee.Image" alt="pfp"
                             data-bs-toggle="modal" data-bs-target="#imageModal-@employee.Id" />
                    </td>
                    <td>
                        <a asp-action="update" asp-controller="employee" asp-route-id="@employee.Id" class="text-warning">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-action="delete" asp-controller="employee" asp-route-id="@employee.Id">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <div class="modal fade" id="imageModal-@employee.Id" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content" >
                            <div class="modal-header">
                                <h5 class="modal-title" id="imageModalLabel">Employee Picture</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body m-auto" style="width:400px;height:400px;">
                                <img style="width:100%;height:100%;object-fit:cover;" src="~/admin/images/employees/@employee.Image" class="img-fluid" alt="pfp" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
    <a class="btn btn-primary w-100" asp-action="add" asp-controller="employee">Add</a>
</div>
