@model Blog
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Our Blog & News</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-primary">Blog & News</li>
        </ol>
    </div>
</div>
<!-- Header End -->

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h2 class="mb-3">@Model.Title1</h2>
                <p>
                    <img src="~/admin/images/blogs/@Model.Image" alt="bg" class="img-fluid">
                </p>
                <p>@Model.Description1</p>
                <h2 class="mb-3 mt-5">@Model.Title2</h2>
                <p>@Model.Description2</p>
                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <h3>Tags</h3>
                    <div class="tagcloud">
                        @foreach (Tag tag in ViewBag.Tags)
                        {
                            <a style="@(Model.BlogsTags.ToList().Any(bt=>bt.TagId == tag.Id) ? "padding:5px;border:solid 1px red;border-radius:3px;color:red" : "color:black" )" href="#" class="tag-cloud-link">@tag.Name</a>
                        }
                    </div>
                </div>
                <div class="about-author d-flex flex-column p-4 bg-light text-center">
                    <div class="bio mr-5">
                        <img src="~/admin/images/authors/@Model.Author.Image" alt="Image placeholder" class="img-fluid mb-4">
                    </div>
                    <div class="desc">
                        <h3>@Model.Author.Name @Model.Author.Surname</h3>
                        <p>@Model.Author.Description</p>
                    </div>
                </div>
                <div class="pt-5 mt-5">
                    <h3 class="mb-5">Comments</h3>
                    @if (Model.Comments.Count != 0)
                    {
                        <ul class="comment-list">
                            @foreach (Comment comment in Model.Comments.Where(c => c.OpId is null))
                            {
                                <li class="comment">
                                    <div class="vcard bio">
                                        <img class="rounded-circle" style="object-fit:cover" src="~/admin/images/authors/defaultPfp.png"
                                             width="65" height="65" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        <h3>@comment.AppUser.UserName</h3>
                                        <div class="meta">@comment.CreatedAt</div>
                                        <p>@comment.Message</p>
                                        <!-- Unique reply link -->
                                        <p><a id="reply-@comment.Id" data-target="#replyModal-@comment.Id" data-toggle="modal" href="#replyModal-@comment.Id" class="reply">Reply</a></p>
                                    </div>
                                    <ul class="children">
                                        @foreach (Comment reply in Model.Comments.Where(r => r.OpId == comment.Id))
                                        {
                                            <li class="comment">
                                                <div class="vcard bio">
                                                    <img class="rounded-circle" width="65" height="65" style="object-fit:cover" src="~/admin/images/authors/defaultPfp.png"
                                                         alt="Image placeholder">
                                                </div>
                                                <div class="comment-body">
                                                    <h3>@reply.AppUser.UserName</h3>
                                                    <div class="meta">@reply.CreatedAt</div>
                                                    <p>@reply.Message</p>
                                                    @* <p><a id="reply" data-target="#replyModal" data-toggle="modal" href="#replyModal" class="reply">Reply</a></p> *@
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <!-- Unique Reply Modal -->
                                <div id="replyModal-@comment.Id" class="modal fade" tabindex="-1" aria-labelledby="replyModalLabel-@comment.Id" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="replyModalLabel-@comment.Id">Reply</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="d-flex flex-start w-100">
                                                    <img class="rounded-circle shadow-1-strong me-3" style="object-fit:cover"
                                                         src="~/admin/images/authors/defaultPfp.png" alt="avatar" width="65"
                                                         height="65" />
                                                    <div data-mdb-input-init class="form-outline w-100">
                                                        <textarea class="form-control" id="textAreaExample-@comment.Id"
                                                                  style="background: #fff;"></textarea>
                                                    </div>
                                                </div>
                                                <div class="float-end mt-2 pt-1">
                                                    <!-- Post reply button for this comment -->
                                                    <button data-opId="@comment.Id" id="postBtn-@comment.Id" type="button" class="btn btn-primary btn-sm">Post reply</button>
                                                    <button id="cancelBtn-@comment.Id" type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!---->
                            }
                        </ul>
                    }
                    else
                    {
                        <p>There are no comments</p>
                    }
                    <!-- END comment-list -->
                    <!-- Leave a comment start -->
                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form id="submitForm" class="p-5 bg-light">
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input disabled id="submitInput" type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                            </div>
                        </form>
                    </div>
                    <!-- Leave a comment end -->
                </div>
            </div> <!-- .col-md-8 -->
            <div class="col-md-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon icon-search"></span>
                            <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3>Categories</h3>
                        @foreach (Category category in ViewBag.Categories)
                        {
                            <li><a style="color:@(category.Id == Model.CategoryId ? "red":"")" href="#">@category.Name <span>(@category.Blogs!.Count)</span></a></li>
                        }
                    </div>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3>Recent Blog</h3>
                    @foreach (Blog blog in ViewBag.Blogs)
                    {
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(images/image_3.jpg);"></a>
                            <div class="text">
                                <h3 class="heading"><a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id">@blog.Title1</a></h3>
                                <div class="meta">
                                    <div><a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id"><span class="icon-calendar"></span>@blog.CreatedAt</a></div>
                                    <div><a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id"><span class="icon-person"></span> @blog.Author.Name @blog.Author.Surname</a></div>
                                    <div><a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3>Tag Cloud</h3>
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">dish</a>
                        <a href="#" class="tag-cloud-link">menu</a>
                        <a href="#" class="tag-cloud-link">food</a>
                        <a href="#" class="tag-cloud-link">sweet</a>
                        <a href="#" class="tag-cloud-link">tasty</a>
                        <a href="#" class="tag-cloud-link">delicious</a>
                        <a href="#" class="tag-cloud-link">desserts</a>
                        <a href="#" class="tag-cloud-link">drinks</a>
                    </div>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3>Paragraph</h3>
                    <p>@Model.Paragraph</p>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .section -->

<style>
    .sidebar-wrap {
        margin-bottom: 60px;
    }

        .sidebar-wrap .heading {
            font-size: 18px;
            text-transform: uppercase;
        }

        .sidebar-wrap .fields {
            width: 100%;
            position: relative;
        }

            .sidebar-wrap .fields .form-control {
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                border: transparent;
                background: #fff !important;
                color: #4d4d4d !important;
                border: 1px solid #e6e6e6;
                font-size: 14px;
                width: 100%;
                height: 52px !important;
                padding: 10px 20px;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                border-radius: 0;
            }

                .sidebar-wrap .fields .form-control::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: #4d4d4d;
                }

                .sidebar-wrap .fields .form-control::-moz-placeholder {
                    /* Firefox 19+ */
                    color: #4d4d4d;
                }

                .sidebar-wrap .fields .form-control:-ms-input-placeholder {
                    /* IE 10+ */
                    color: #4d4d4d;
                }

                .sidebar-wrap .fields .form-control:-moz-placeholder {
                    /* Firefox 18- */
                    color: #4d4d4d;
                }

            .sidebar-wrap .fields .icon {
                position: absolute;
                top: 50%;
                right: 30px;
                font-size: 14px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                color: rgba(0, 0, 0, 0.7);
            }

    @@media (max-width: 767.98px) {
        .sidebar-wrap .fields .icon {
            right: 10px;
        }
    }

    .sidebar-wrap .fields .select-wrap {
        position: relative;
    }

        .sidebar-wrap .fields .select-wrap select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

    .sidebar-wrap .form-group .btn {
        width: 100%;
        display: block !important;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
    }

    .sidebar-box {
        margin-bottom: 30px;
        padding: 25px;
        font-size: 15px;
        width: 100%;
        float: left;
        background: #fff;
    }

        .sidebar-box *:last-child {
            margin-bottom: 0;
        }

        .sidebar-box h3 {
            font-size: 18px;
            margin-bottom: 15px;
        }

    .categories li, .sidelink li {
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dee2e6;
        list-style: none;
    }

        .categories li:last-child, .sidelink li:last-child {
            margin-bottom: 0;
            border-bottom: none;
            padding-bottom: 0;
        }

        .categories li a, .sidelink li a {
            display: block;
            color: #1a1a1a;
        }

            .categories li a span, .sidelink li a span {
                position: absolute;
                right: 0;
                top: 0;
                color: #ccc;
            }

        .categories li.active a, .sidelink li.active a {
            color: #000000;
            font-style: italic;
        }
</style>

<script>
    const form = document.querySelector('#submitForm')
    const message = document.querySelector('#message')
    const submitInput = document.querySelector('#submitInput');
    message.addEventListener('input', () => {
        if (message.value.trim() == '') {
            submitInput.setAttribute('disabled', true)
        }
        else {
            submitInput.removeAttribute('disabled')
        }
    })
    form.addEventListener('submit', (e) => {
        e.preventDefault()
        const url = '/comment/post'
        const data = { message: message.value, blogId: @Model.Id }
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then(res => res.json())
            .then(data => {
                if (data.statusCode == 201) {
                    Swal.fire({
                        title: "Success",
                        text: data.message,
                        icon: "success"
                    });
                    message.value = ''
                }
                else {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: data.message,
                    });
                    console.log(data.errors)
                }
            })
    })

    document.addEventListener("DOMContentLoaded", function () {
        const replyLinks = document.querySelectorAll('.reply')

        replyLinks.forEach(function (replyLink) {
            replyLink.addEventListener('click', function (event) {
                event.preventDefault()

                const targetModalId = replyLink.getAttribute("data-target");

                var replyModal = new bootstrap.Modal(document.querySelector(targetModalId));
                replyModal.show()
            });
        });

        const postButtons = document.querySelectorAll("[id^='postBtn-']");
        postButtons.forEach(function (postBtn) {
            const commentId = postBtn.getAttribute('data-opId')
            const textArea = document.getElementById(`textAreaExample-${commentId}`)
            textArea.addEventListener('input', () => {
                if (textArea.value.trim() == '') {
                    postBtn.classList.add('disabled')
                }
                else {
                    postBtn.classList.remove('disabled')
                }
            })
            postBtn.addEventListener('click', (e) => {
                const replyMessage = textArea.value
                e.preventDefault()
                const url = '/comment/reply'
                const data = {
                    message: replyMessage,
                    opId: postBtn.getAttribute('data-opId'),
                    blogId: @Model.Id
                                            }
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                })
                    .then(res => res.json())
                    .then(data => {
                        if (data.statusCode == 201) {
                            Swal.fire({
                                title: "Success",
                                text: data.message,
                                icon: "success"
                            });
                        }
                        else {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: data.message,
                            });
                            console.log(data.errors)
                        }
                        var replyModal = bootstrap.Modal.getInstance(document.getElementById(`replyModal-${commentId}`))
                        replyModal.hide()
                        textArea.value = '';
                    })
            })
        });
    });
</script>